:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
}

body {
  background-color: #ebebeb;
  }
  
  .header {
    font-size: 1.6rem;
    color: var(--clr-primary-5);
  }
span{
  margin-top: 20px;
}
  table{
    float: left;
    display: flex;
    font-family: "Pontano Sans";
    margin: 0 auto;   
    width: 250px;
    border: black 2px solid;
  }

  tr{
    width: 250px;
  }

  td {
    padding: 10px; 
    border: black 1px solid;
    height: 150px;
    width: 250px;
    text-align: center;
  }
  nav {
    background: #fff;
    height: 5rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
  }
  nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--clr-primary-1);
    margin-right: 2rem;
  }
  nav a:hover {
    color: var(--clr-primary-5);
  }
  
  .container{
    margin-top: 2.2em;
  }

  .selectedHero
  {
    color: #5c5c5c;
  }

  

  button{
    margin-top: 5px;
    height:35px;
    width:150px;
    font-size: 14px;
    background-color: #dbdbdb;
  }

  button:hover {background-color: #dedede}

  button:active {
  background-color: #adadad;
  transform: translateY(2px);
}

.table-column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-box
{
  margin: auto;
  width: 200px;
}

/* DipShit was here */
.penisInspector{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

.LoadOutWasTaken{
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.LoadOutWasTaken div{
  grid-column-start: 1;
  grid-column-end: 3;
  
}

.LoadOutWasTaken div img{
  
}
