body {
  background-color: #ebebeb;
  }

  .container{
    margin-top: 2.2em;
  }

  .selectedHero
  {
    color: #5c5c5c;
  }

  .btn-hero{
    margin-top: 5px;
    height:35px;
    width:150px;
    font-size: 14px;
    background-color: #dbdbdb;
  }

.btn-hero:hover {background-color: #dedede}

.btn-hero:active {
  background-color: #adadad;
  transform: translateY(2px);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-box
{
  display: block;
  /* width: 800px; */
  max-height: 480px;
}